ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: black;
}

li {
  display: inline;
}

.container a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.container a:hover {
  background-color: #ddd;
  color: blue;
}
.container {
  background-color: #1f456e;
  overflow: hidden;
}

